<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1>Listes des articles</h1>

        <p>
            <%=link_to "Créer un nouvel article", new_article_path%>
        </p>
        <%= render 'articles', obj: @articles %>
    </div>
</div>
