<div class="container">
    <footer>
        <small>
            <%= link_to "Rails Heroes Course", "https://tkweb.fr" %>  Copyright by Tomek51
        </small>
        <nav>
            <ul>
                <li><%= link_to "A propos", about_path %></li>
            </ul>
        </nav>
    </footer>
    
</div>